<div class="container">
  <h1><%= @article.id %>. <%= @article.title %></h1>
  <h2>$<%= @article.price %>.00</h2>
  <p><%= @article.description %></p>

  <div id="secret-key">
    <p><strong>Copy your Secret Key:</strong> <%= @article.secret_key %></p>
  </div>

  <a href="/articles">View All Categories</a> |
  <a href="/articles/<%= @article.id %>/edit">Edit Listing</a> |
  <a href="mailto:<%= @article.author_email %>">Email The Owner of This Listing</a>

</div>

