<div class="container">
<h2>My Beers</h2>

  <% if params[:message] != "" || params[:message] == nil %>
  <% p params %>
  <div class="message warning alert" style='display:none'>
    <%= params[:message] %>
  </div>
  <% end %>

  <table class="my-beers">
    <thead>
      <tr>
        <th>Beer Name</th>
        <th>ABV</th>
        <th>IBU</th>
        <th>Your Rating</th>
        <th>Total Beer Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    <% @beers.each do |beer| %>
      <% if beer.id == params[:existing_beer].to_i %>
        <% @active = "active" %>
      <% else %>
        <% @active ="" %>
      <% end %>

        <tr id="beer-id-<%= beer.id %>" class="<%= @active %>">
          <td><%= beer.title %></td>
          <td><%= beer.abv %>%</td>
          <td><%= beer.ibu %></td>
          <td>
            <% if @user_ratings.find_by(beer_id: beer.id) != nil %>
              <%= @user_ratings.find_by(beer_id: beer.id).rating %>
            <% end %>
          </td>
          <td>
              <%= beer.rate_beer %>
          </td>
          <td>
            <form class="inline-form" action="/beers/<%= beer.id %>" method="post">
              <select name="rating" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <input type="hidden" name="_method" value="put" />
              <input class="link" type="submit" value="Edit Rating">
            </form>
            |
            <form class="inline-form" action="/users/<%= current_user.id %>/beers/<%= beer.id %>/remove" method="post">
            <input type="hidden" name="_method" value="put" />
            <input class="link" type="submit" value="Remove">
            </form>
          </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
