<div class="container">
<h2>My Beers</h2>

  <% if params[:message] != "" || params[:message] == nil %>
  <% p params %>
  <div class="message warning alert" style='display:none'>
    <%= params[:message] %>
  </div>
  <% end %>

<table class="my-beers">
  <thead>
    <tr>
      <th>Beer Name</th>
      <th>ABV</th>
      <th>IBU</th>
      <th>Rating</th>
      <th>T/R</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <% @beers.each do |beer| %>
    <% if beer.id == params[:existing_beer].to_i %>
      <% @active = "active" %>
    <% else %>
      <% @active ="" %>
    <% end %>

      <tr id="beer-id-<%= beer.id %>" class="<%= @active %>">
        <td><%= beer.title %></td>
        <td><%= beer.abv %>%</td>
        <td><%= beer.ibu %></td>
        <td>{beer rating}</td>
        <td>{total_ratings</td>
        <td>
          <a href="/users/<%= current_user.id %>/beers/<%= beer.id %>/edit">Edit</a> |
           <form class="inline-form" action="/users/<%= current_user.id %>/beers/<%= beer.id %>/remove" method="post">
          <input type="hidden" name="_method" value="put" />
          <input class="link" type="submit" value="Remove">
          </form>
        </td>
    </tr>
  <% end %>
</tbody>
</table>



</div>

