<div class="container center">
  <img class="beer-image" src="<%= @draft_beer.image %>">

  <h2><%= @draft_beer.title %></h2>

  <div class="beer-meta">
    <span class="beer-abv"><strong>abv: </strong><%= @draft_beer.abv %>% </span>
    <span class="beer-ibu"><strong>Ibus: </strong> <%= @draft_beer.ibu %></span>
  </div>

  <div class="beer-description">
    <p><%= @draft_beer.description %></p>
  </div>

  <form id="beer-save" action="/beers" method="post" >
    <input type="hidden" name="beer_id" value="<%= @draft_beer.id %>" >
    <input type="submit" value="Save This Beer" >
  </form>

</div>

