<div class="container cf">
  <h2 class="beer-found">Holy Shit, we found <strong>"<%= @total_results %>"</strong> Beers </h2>
  <% @draft_beer.each do |beer| %>
    <div class="beer cf">
      <% if beer.image != "" %>
        <a href="/beers/<%= beer.id %>"><img class="beer-image" src="<%= beer.image %>"></a>
      <% else %>
        <div class="beer-image-none"></div>
      <% end %>
      <div class="beer-inner">
        <h3 class="beer-title-large"><a href="/beers/<%= beer.id %>"><%= beer.title %></a></h3>

        <div class="beer-meta">
          <span class="beer-abv"><strong>abv: </strong><%= beer.abv %>% </span>
          <span class="beer-ibu"><strong>Ibus: </strong> <%= beer.ibu %></span>
        </div>

        <div class="beer-description">
          <p><%= beer.description %></p>
        </div>

        <form id="beer-save" action="/beers" method="post" >
          <input type="hidden" name="beer_id" value="<%= beer.id %>" >
          <input class="button" type="submit" value="Save to My Beers" >
        </form>

      </div>
    </div>
  <% end %>

</div>

